<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @from_station_way.name %>
</p>

<%= link_to 'Edit', edit_from_station_way_path(@from_station_way) %> |
<%= link_to 'Back', from_station_ways_path %>
