<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @from_staiton_way.name %>
</p>

<%= link_to 'Edit', edit_from_staiton_way_path(@from_staiton_way) %> |
<%= link_to 'Back', from_staiton_ways_path %>
